* {
    box-sizing: border-box;
}

 .outer-boundary {
        background-color: white;
        margin: 0px;
}

h2 {
    text-align: center;
    font-family: 'Trebuchet MS', 'sans-serif';
    font-size: 46px;
}

 .main-content {
        background-color: lightsalmon;
        padding: 50px;
        height: 700px;
}

form {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
}

input {
    height: 75px;
    width: 75%;
    border-radius: 10px;
    font-size: 20px;
    color: black;
    border-color: lightsalmon;
}


input #number {
    grid-area: 1/1/2/2;
}

input #convert {
   grid-area: 1/2/2/3;
} 

input:focus {
    background-color: azure;
}

input:hover {
    background-color: antiquewhite;
    color: black;
}

.flexbox {
    display: flex;
    flex-direction: column;
}

h3 {
    text-align: center;
    font-family: 'Trebuchet MS', 'sans-serif';
    font-size: 24px;
}

button {
    position: static;
    margin: auto;
    padding: 15px;
    border-radius: 5px;
}

button:hover {
    background-color: white;
    color: black;
}
